$alabaster: #f9f9f9;
$black-two: #222;
$merqury: #e4e4e4;
$light-royal-blue: #4b46ff;
$mine-shaft: #333;
$warm-grey: #888;
$brownish-grey: #666;
$silver: #c8c8c8;
$purpley-blue: #3a36eb;

$g-grid-min-width-w: 1201px;
$g-grid-max-width-w: 1200px;
$g-grid-min-width-t: 769px;
$g-grid-max-width-t: 768px;

$padding-large: 24px;
$padding-medium: 16px;

$hover-min-size: 769px;
$active-max-size: 768px;

$g-color-text :  #41464c;

// pallet
$white: #fff;
$pale-grey: #f5f7fa;
$very-light-blue: #eff6ff;
$very-light-blue-two: #e5f0ff;
$pale-grey-two: #e4e7ed;
$pale-grey-three: #f3f3f4;
$cloudy-blue: #ccd2dc;
$bluey-grey: #b0b8c8;
$dark: #1b2027;
$sky-blue: #5c9fff;
$soft-blue: #5192ef;
$charcoal-grey: #41464c;
$charcoal-grey-two: #2e343a;
$carolina-blue: #94c0ff;
$tomato: #eb4646;
$almost-black: #0a1019;
$silver: #d8dbdf;
$slate-grey: #63666b;
$pale-grey-four: #f2f4f8;
$ice-blue: #fafcff;
$white-lilac: #f7f9fc;
$very-light-pink: #ffe5e5;
$light-peach: #ffc4c4;



// header & footer
$g-header-size: 50px;
$g-footer-size: 50px;
$g-without-footer-size: calc(100% - 50px);

// navigation
$g-navigation-size: 220px;

// placeholder
$g-color-placeholder: $bluey-grey;