$input-color-border: $bluey-grey;
$input-color-border-focus: $sky-blue;
$input-color-shadow: $carolina-blue;

input.sg-input {
  position: relative;
  border: 1px solid $input-color-border;
  border-radius: 3px;
  padding-left: 8px;
  width: 100%;
  height: 36px;
  font-size: 14px;

  &:disabled {
    background-color: #ebebeb;
  }

  &:focus {
    border-color: $input-color-border-focus;
    box-shadow: 0 0 2px 1px $input-color-shadow;
  }
}

input.sg-textarea {
  position: relative;
  border: 1px solid $input-color-border;
  border-radius: 3px;
  padding-left: 8px;
  width: 100%;
  height: 72px;
  font-size: 14px;

  &:disabled {
    background-color: #ebebeb;
  }

  &:focus {
    border-color: $input-color-border-focus;
    box-shadow: 0 0 2px 1px $input-color-shadow;
  }
}

textarea.sg-textarea {
  position: relative;
  border: 1px solid $input-color-border;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  resize: none;
  &:focus {
    border-color: $input-color-border-focus;
    box-shadow: 0 0 2px 1px $input-color-shadow;
  }
}