#sg-message-create-modal-wrap{

  .sg-modal-content-part{
    background-color: white;

  }

  .sg-modal-button-part{
    button.sg-create{
      position: relative;
      top: auto;
      right: auto;
      float: right;
      width: 80px;
    }
  }
}